<ng-template #longContent let-modal>
	<div class="modal-header p2">
		<h6 class="modal-title">Job: <span class="header-value">{{nodeDetails?.data?.name}}</span> <span class="header-span">System: <span class="header-value">{{nodeDetails?.data?.system}}</span></span> <span class="header-span">Entity: <span class="header-value">{{nodeDetails?.data?.name}}</span></span></h6>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<app-histogram [nodeDetails]="nodeDetails?.data"></app-histogram>
		
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>