<div class="container-fluid">
    <div class="col-12">

        <div class="row m-0">
            <div class="col-5 text-align-center m-auto">
                <h6>CRITICAL PATH ANALYSIS</h6>
            </div>
            <div class="col-2">
                <mat-form-field class="w-100 mt-2">
                    <mat-label>System</mat-label>
                    <mat-select [(ngModel)]="selectedSystem">
                        @for (food of foods; track food) {
                        <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="w-100  mt-2">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint>     -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="w-100  mt-2">
                    <mat-label>Job Name</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            
            <div class="col-1">
                <button mat-raised-button style="height: 65%" class=" mt-2" (click)="onGenerate()">Generate</button>
            </div>
        </div>
        <hr width="100%">
        <app-cpa-chart *ngIf="showChart"></app-cpa-chart>

    </div>
</div>